
.content{
    grid-area: content;
    /* border: black solid; */
    display: flex;
    flex-wrap: wrap; /* allow to flex wrap so when below width can wrap and 100%*/
    justify-content: center;
    font-family: "ProFontWindows", sans-serif;
}

.content .card{
    flex-grow: 1;
    margin: 1rem;
    border: #B454C1 solid;
    width: 30%;
    font-family: "ProFontWindows", sans-serif;
    transition: ease transform 0.3s  ;
    margin-top: 2rem;


    display: flex;
    justify-content: center;
}

.content .card:hover {
    transform: translateY(-2rem); /* card lifts up when hoever */
  }

.content .card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    padding: .2rem;
    position: relative;
    text-align: center;    
}

.learnmore {
    /* content: "Learn More"; */
    position: absolute; 
    bottom: -3rem;
    padding: 0.5rem;
    text-align: center;
    background-color: #B454C1;
    color: white;
    border-radius: 5px;

    opacity: 0;
    transform: translateY(2rem); /* move the box down form its initial position then it will transition up */
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  
.content .card:hover .learnmore {
    opacity: 1;
    transform: translateY(0.5rem);
}


.content .card .card-content h1{
    color: #B454C1;
 }
    