
/* creating a dark overlay */
.window-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* creating a darkened background for when we open form  */
    z-index: 1; /*Place it above the stack */
}


/* creating form that is displayed ontop of all the content in the center of the screen */
.formpop {

    position: absolute; /* stay fixed in center */
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 

    background: white; 
    width: 70vw;
    height: auto;
    padding: 2rem;
    border-radius: 10px;
    z-index: 1;
    font-family: "ProFontWindows", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup-form{
    margin: 1rem;
}

.button-container {
    display: flex;            
    justify-content: center;  
    margin-top: 1rem;        
    gap: 1rem
}

.button-container button {
    padding: 0.5rem 1rem;   
    border: none;            
    border-radius: 5px;   
    background-color: #5d2a63; 
    color: white;            
    cursor: pointer;        
    transition: background-color 0.3s; 
    font-family: "ProFontWindows", sans-serif;
}

.button-container button:hover {
    background-color: #B454C1; 
}

input,
textarea {
    border: none; 
    border-bottom: 2px solid #000; 
    outline: none; 
    padding: 0.5rem; 
    width: 100%; 
    font-size: 1rem; 
    font-family: "ProFontWindows", sans-serif;
}

textarea{
    margin-top: 2rem;
}

input:focus,
textarea:focus {
    border-bottom: 2px solid #B454C1; 
    transition: border-bottom 0.3s ease; 
    
}


/* if working on laptop center it 50% else do it 20% to prevenet more scrolling on narrow and long screens */
/* note that media queries that are more specific take priority aswell as the natural cascade of css     */
